body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 20px auto;
	max-width: 600px;
	text-align: center;
}

form label {
	display: block;
	margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 2px solid #0072C6;
	border-radius: 5px;
	font-size: 16px;
}

form input[type="submit"] {
	background-color: #0072C6;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

form input[type="submit"]:hover {
	background-color: #005DA7;
}


footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}


.social-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}


