		body {
			font-family: Arial, sans-serif;
			background-color: #f1f1f1;
		}

		header {
			background-color: #3b5998;
			color: #fff;
			padding: 20px;
		}

		header h1 {
			margin: 0;
			font-size: 36px;
		}

		nav {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
			font-size: 18px;
		}

		nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
		}

		nav li {
			margin: 0 10px;
		}

		nav a {
			color: #fff;
			text-decoration: none;
			padding: 10px;
			border-radius: 5px;
		}

		nav a:hover {
			background-color: #fff;
			color: #3b5998;
			transition: all 0.2s ease-in-out;
		}

		.container {
			max-width: 800px;
			margin: 0 auto;
			padding: 20px;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0,0,0,0.1);
		}

		h1 {
			text-align: center;
			margin-top: 0;
		}

		p {
			line-height: 1.5;
			margin-bottom: 20px;
		}

		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			height: auto;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0,0,0,0.1);
		}

		footer {
			background-color: #3b5998;
			color: #fff;
			padding: 20px;
			text-align: center;
			margin-top: 20px;
		}

		footer p {
			margin: 0;
		}

        .social-icons a {
	display: inline-block;
	margin: 0 10px;
	font-size: 24px;
	color: rgb(0, 0, 0);
}

.social-icons a:hover {
	color: #3b5998;
}